@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap');


.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: #282c34;
  position: relative;
  height: 100vh;
  padding: 1%;
  font-size: calc(10px + 5vmin);
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .headerText {
    animation: falling-text forwards 1.3s linear;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .headerBanner {
    animation: banner-expand forwards 2.3s linear;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .avatar {
    animation: avatar-up forwards 2.2s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .testWindow {
    animation: fade-in forwards 4s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  span:hover {
    animation: blowup forwards .5s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .avatar2:hover {
    animation: unblur forwards 1s linear;
  }
}


  @media (prefers-reduced-motion: no-preference) {
    .certOne {
      animation: fade-in forwards 2s linear;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    .certTwo {
      animation: fade-in forwards 2s linear;
      animation-delay: .5s;
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    .certThree {
      animation: fade-in forwards 2s linear;
      animation-delay: 1s;
    }
  }


.App-background {
  background-color: #282c34;
  height: 101%;
  display: flex;
  position: sticky;
  flex-direction: column;
  align-items: center;
  color: white;
  overflow:visible;
}

.headerText {
  text-align: left;
  font-weight: 900;
  width: 100%;
  display: block;
  height: 50px;
  position: relative;
  top: 10%;
  flex-shrink: 1;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.719),5px 5px rgba(223, 194, 66, 0.733) ;
  overflow-inline: show;
  font-size: 130%;
}

.headerBanner {
  background-color:  #04457aaf;
  position: absolute;
  padding: 2%;
  border-radius: 10px;
  width: 95%;
  margin: 0;
  top: 0%;
  height: 95vh;
  overflow: hidden;
}

.certOne {
  position: absolute;
  opacity: 0;
}


.arrowDown2 {
  background-image: url(./resources/arrowdown.png);
  background-position: no-repeat;
  height: 70px;
  width: 100px;
  position: absolute;
  left: 59%;
  bottom: -40%;
}

.certTwo {
  left: 33%;
  position: absolute;
  opacity: 0;
}

.coolLetter {
  position: absolute;
}

.certThree {
  background-image: url(./resources/cert3.JPG);  position: absolute;
  left: 66%;
  opacity: 0;
}


.certificates {
  position: relative;
  height: 40vh;
  margin-left: 3vw;
  margin-top: 5%;
}

.codeSnips {
  position: relative;
  height: 65vh;
  width: 100%;
  margin-left: 2.2vw;
  margin-top: 3%;
  overflow: hidden;
}

.code1 {
  background-image: url(./resources/gitsnip.jpg);
  background-repeat: repeat-y;
  background-position: 18%;
  text-shadow: none;
  background-size: cover;
  border-right: solid rgba(0, 0, 0, 0.164) 5px;
  position: absolute;
  opacity: 70%;
  left: 0%;
  animation: slide 9s alternate linear;
  cursor: pointer;
  z-index: 1;
}

.giticon {
  height: 60%;
  width: 30vw;
  left: 3vw;
  top: 18%;
  position: absolute;
  z-index: 3000;
  opacity: 0%;
  border-radius: 100%;
  animation: icon-fadein 2s forwards linear;
  animation-delay: 9s;
}

.giticon:hover {
  filter: brightness(20);
}

.code1:hover {
pointer-events: all;
opacity: 100%;
}

.code1:hover:after {
  animation: 0;
}
.code2:hover:after {
  animation: 0;
}

.code3:hover:after {
  animation: 0;
}


.code2 {
  background-image: url(./resources/vssnip.JPG);
  background-repeat: repeat-y;
  background-position: 18%;
  text-shadow: none;
  background-size: cover;
  border-right: solid rgba(0, 0, 0, 0.164) 5px;
  height: 100%;
  width: 30%;
  position: absolute;
  opacity: 70%;
  left: 35%;
  pointer-events: auto;
  animation: slide2 8s alternate linear;
}

.code3 {
  background-image: url(./resources/hatchsnip.JPG);
  background-repeat: repeat-y;
  background-position: 18%;
  text-shadow: none;
  background-size: cover;
  border-right: solid rgba(0, 0, 0, 0.164) 5px;
  height: 100%;
  width: 27%;
  position: absolute;
  opacity: 70%;
  left: 68%;
  pointer-events: none;
  animation: slide3 6s alternate linear;
}

.secondBanner {
  background-color:   #04457aaf;
  position: absolute;
  padding: 2%;
  border-radius: 10px;
  display: none;
  width: 95%;
  top: 33.3%;
  height:95vh;
  overflow: hidden;
}

.thirdBanner {
  background-color:  #04457aaf;
  position: absolute;
  padding: 2%;
  border-radius: 10px;
  display: none;
  width: 95%;
  top: 66.6%;
  height:95vh;
  overflow: hidden;
}

.avatar {
  position: absolute;
  width: auto;
  height: 40%;
  right: 10%;
  bottom: 15%;
  z-index: 1000;
}

.avatar2 {
  position: absolute;
  width: auto;
  height: 45%;
  right: 9%;
  bottom: 14%;
  opacity: 0;
  z-index: 10000;
}

.avatar2:hover {
  opacity: 100%;
}

.equalSign {
  font-size: 400%;
  font-weight: 900;
  position: absolute;
  bottom: 35%;
  right: -15%;
  text-shadow: 8px 8px black;
}

.App-link {
  color: #61dafb;
}

.testWindow{
  position: absolute;
  left: 7%;
  bottom: 1%;
  overflow: show;
  height: 50%;
  width: 50%;
}

.mobileBreak {
  display: none;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slide{
  0% {
    transform: translateY(100%);
  }
  50% {
    transform: translateY(-800px);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes icon-fadein {
  0%{
    opacity: 0%;
  }
  100%{
    opacity: 60%;
  }
}

@keyframes slide2{
  0% {
    transform: translateY(65vh);
  }
  50% {
    transform: translateY(-300px);
  }
  100%{
    transform: translateY(0);
  }
}

@keyframes slide3{
  0% {
    transform: translateY(70vh);
  }
  50% {
    transform: translateY(-300px);
  }
  100% {
    transform: translateY(0)
  }
}

@keyframes falling-text {
  0% {
    transform: translateY(-300px);
    transform: translate3d(30);
  }
  25% {
    transform: translateY(0px);
  }
  45% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(0px);
  }
  80% {
    transform: translateY(-1px);
  }
  82%{
    transform: translateY(0px);
  }
}

@keyframes banner-expand {
  0% {
    height: 30%;
    top: 30%;
    width: 70%;
  }
  30% {
    width: 70%;
  }
  60% {
    top: 30%;
    height: 30%;
    width: 95%;
  }
}


@keyframes avatar-up {
  0% {
    bottom: 300%;
  }
  40% {
    bottom: 0;
  }
  50% {
    bottom: 30%;
  }
  55% {
    bottom: 40%;
  }
  62%{
    bottom: 45%;
  }
  100% {
    bottom: 15%;
  }
  }


@keyframes fade-in {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100;
  }
}

@keyframes fade-in-right {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes blowup {
  0%   {
  }
  100% {
    margin-right: 2%;
  }
}

@keyframes unblur {
  0% { -webkit-filter: blur(10px);}
  50% { -webkit-filter: blur(5px);}
  100% { -webkit-filter: blur(0px);}
}

@keyframes glow {
  0%{
    text-shadow: 2px 2px 2px rgb(131, 82, 9)
  }
  10%{
    text-shadow: 2px 2px rgba(131, 48, 9, 0.747)
  }
  30%{
    text-shadow: 2px 2px rgba(251, 255, 0, 0.61)
  }
  40%{
    text-shadow: 2px 2px rgba(204, 121, 12, 0.801)
  }
  70%{
    text-shadow: 2px 2px rgba(131, 68, 9, 0.74)
  }
}

@media only screen
and (max-aspect-ratio: 1/1) {
 .testWindow {
  display: none;
 }

 .avatar {
  left: 10vw;
  height : 40vh;
 }

 .secondBanner {
  display: block;
 }

 .App-background {
  height: 300vh;
 }

 .certificates {
  height: 30vh;
  width: 250%;
  margin-top: 13vh;
  overflow-y: scroll;
 }

 .thirdBanner {
  display: block;
 }

 .codeSnips {
  height: 65vh;
 }

 .equalSign {
  display: none;
 }

 .mobileBreak {
  display: block;
 }

 .certOne {
  left: 9vw;
 }
 .certTwo {
  left: 9vw;
  top: 30vh;
 }
 .certThree {
  left: 9vw;
  top: 60vh;
 }

 @keyframes banner-expand {
  0% {
    height: 30%;
    top: 50vh;
    width: 70%;
  }
  30% {
    width: 70%;
  }
  60% {
    top: 5vh;
    height: 30%;
    width: 95%;
  }
  100%{
    top: 2vh;
  }
}
}
