@import url('https://fonts.googleapis.com/css2?family=Istok+Web&display=swap');

@media (prefers-reduced-motion: no-preference) {
  .vs-snip {
    animation: slide2 1s alternate linear;
  }
}

.App {
  text-align: center;
  position: relative;
  height:100vh;
  width: 100vw;
  font-size: calc(6px + min(1vw,1vh));
  font-family: 'Istok Web', sans-serif;
  overflow-y: scroll;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  background-color: black;
  color: white;
}

header img{
  cursor: pointer;
}

.App::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.active{
  font-weight: bold;
  text-shadow:1px 1px 20px rgb(77, 66, 223, 0.733);
  box-shadow: 0 6px 4px -3px rgb(77, 66, 223, 0.733);
}

.progress-ball{
  position: absolute;
  height: .6em;
  width: .6em;
  border-radius: 50%;
  background-color: rgb(77, 66, 223, 0.733);
  bottom: .4em;
  left: 0;
  margin: 0;
  box-sizing: border-box;
}

.vs-snip{
  position: absolute;
  right: 0;
  top: 0;
  opacity: 15%;
  height: 100%;
  z-index: 0;
}

.logo-container{
  width: auto;
  height: 100%;
  position: relative;
}

.logo-caption{
  position: absolute;
  display: none;
  border-radius: 20px;
  width: auto;
  height: 50%;
  left: 2vw;
  background-color: rgb(180, 178, 212);
  color: black;
  justify-content: center;
  align-items: center;
  animation: fade 7s linear forwards;
  z-index: 4;
}

.logo-caption span{
  overflow: hidden; 
  border-right: .15em solid black; 
  white-space: nowrap; 
  margin: 0 auto; 
  letter-spacing: .15em;
  padding: 0 .5em;
  animation: 
    typing 1.5s steps(40, end),
    blink-caret .75s step-end infinite;
  position: relative;
  z-index: 3;
}

.logo-caption::after{
  content: '';
  position: absolute;
  top: -2%;
  left: 5%;
  height: 30%;
  width: 10%;
  background: inherit;
  transform: rotate(28deg);
  border-radius: 2px;
  z-index: 1;
}

.logo{
  height: 100%;
  width: 100%;
}

nav{
  display: flex;
  width: 60%;
  height: 100%;
  position: relative;
  margin-left: 20%;
}

h4{
  margin: 0;
  color:rgba(117, 113, 168, 0.733);
  padding: 0;
}

.headerText h2{
  padding: 0;
  margin: 0;
}

.nav-list{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0 0;
  box-sizing: border-box;
}

.nav-list li{
  font-size: 150%;
  cursor: pointer;
  padding: 0 .5em;
}

ul{
  padding: 0;
}

.nav-list li:hover{
  text-shadow:1px 1px 2px rgba(77, 66, 223, 0.733);
}

.clickable{
  cursor: pointer;
}

h1{
  margin: 0;
  font-size: 600%;
  font-weight: 500;
}

h3{
  margin: 0;
  color:rgba(180, 178, 212, 0.733);
}

header{
  box-shadow: 0px -10px 20px 10px rgba(77, 66, 223, 0.733);
  background-color: black;
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  padding: .2em .5em;
  box-sizing: border-box;
  z-index: 3;
}

.header-container{
  height: 10%;
  position: relative;
}

.Cool-letter{
  cursor: pointer;
}

.Cool-letter:hover{
  animation: razzle .5s infinite linear;
}

.body{
  height: 90%;
  width: 100%;
  position: relative;
}

.section{
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.column{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.full-width{
  width: 100%;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.headerText {
  text-align: left;
  font-weight: 900;
  width: 100%;
  height: auto;
  position: relative;
  flex-shrink: 1;
  color: rgba(77, 66, 223, 0.733);
  font-size: 300%;
  padding: 0 .5em ;
  box-sizing: border-box;
  margin: 0;
}

#about{
  padding: 3em;
  box-sizing: border-box;
}

#work{
  padding: 3em;
  scroll-margin-top: 10vh;
  background-color: rgba(15, 13, 41, 0.733);
  position: relative;
}

.icons-container img{
  margin: 0 1em;
  width: 5%;
}

.tech-tile {
  position: relative;
  width: auto;
  background-color:rgba(180, 178, 212, 0.733);
  color: black;
  margin: .3vw;
  border-radius: 5px;
  padding: .5em;
}

.project-list-desc{
  height: 30%;
}

.tech-tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1vh;
}

.image-gallery img{
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.image-gallery{
  position: relative;
  height: 40%;
}

#contact{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

#contact a{
width: 15%;
margin: 5%;
padding: 0;
}

#contact #email-icon{
width: 15%;
margin: 5%;
padding: 0;
cursor: pointer;
}

#contact img{
  padding: 0;
  width: 100%;
}

.Project-list {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  padding-top: 5%;
  box-sizing: border-box;
}

.Project-list-item {
  background-color:rgba(22, 19, 59, 0.719);
  position: relative;
  padding: 1%;
  border-radius: 10px;
  width: 25%;
  margin: 1vw;
  height: 70%;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  z-index: 3;
}

.headerText p{
  text-align: left;
  font-weight: 900;
  min-width: 85%;
  width: min-content;
  position: relative;
  font-size: 100%;
  box-sizing: border-box;
  padding: .5em 0 .5em .5em;
  color:rgba(111, 103, 216, 0.733);
  margin: 0;
}

#about-me{
  padding: 2em;
  box-sizing: border-box;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes fade {
  from { opacity: 100% }
  to { opacity : 0% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color:rgba(15, 13, 41, 0.733); }
}

@keyframes slide2{
  0% {
    transform: translatex(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@media only screen
and (max-aspect-ratio: 1/1) {

  .headerText p{
    max-width: 100%;
    padding: 1em 0;
    font-size: 80%;
  }

  .headerText{
    padding: .1em;
  }

  .Project-list{
    flex-wrap: wrap;
  }

  .Project-list-item{
    height: 45%;
    width: 45%;
  }

  .tech-tile{
    padding: .1em;
    font-size: 80%;
  }

  #contact{
    flex-direction: column;
    justify-items: space-around;
  }

  #contact a{
    height: 30%;
    width: 30%;
  }

  #contact #email-icon{
    width: 30%;
  }
}

@media only screen
and (max-aspect-ratio: 1/2) {
  .headerText p{
    width: auto;
    font-size: 60%;
  }
}